[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.0"
jinja2 = "==3.0.1"
uvicorn = {extras = ["standard"], version = "==0.14.0"}
sqlalchemy = "==1.4.22"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "==0.0.5"
python-jose = {extras = ["cryptography"], version = "==3.3.0"}

[dev-packages]

[requires]
python_version = "3.7"
