<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>santosh.pictures</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XFV062ER1J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-XFV062ER1J');
  </script>
</head>

<body>
  <h1>Website under construction! 🚧</h1>
  <h2>The backend web API is under construction.</h2>
  <p>Head over to <a href="/docs">/docs</a> to see API documentation.</p>
</body>

</html>
